PORT = 3030
MONGO_URL= mongodb://127.0.0.1:27017/ecommerce?retryWrites=true&w=majority
SECRET_JWT= hola_tatu
PERSISTENCIE= la persistencia 

#Nodemailer config
MAIL_USERNAME= tatuciccotosto18@hotmail.com
MAIL_PASSWORD= tatudiosa

#Twilio config
TWILIO_SSID= 
AUTH_TOKEN=
PHONE_NUMBER= 
PHONE_NUMBER_TO= 

#mongodb atlas , secret jwt ,secrect cookies